*{
    margin: 0px;
    padding: 0px;
    
}


.main{

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 80px;
   background-image: linear-gradient(to bottom, rgb(255, 217, 0),rgb(190, 19, 168),rgb(117, 13, 208));
   padding: 200px;
  
}
.Card_1,.Card_2,.Card_3{
    border: none;
    border-radius: 25px;
    /* height: 400px; */
    width:320px;
    margin-top: 150px;
    background-color: white;
}

.head_1, .head_2, .head_3 {
    background-color: black; /* Replace with individual colors for each */
    color: white;
    text-align: center;
    justify-content: center;
    height: 150px; /* Set height */
    width: 320px; /* Set width equal to the card */
    border-bottom-right-radius: 150px; /* Make radius half the width */
    border-bottom-left-radius: 150px;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    line-height: 150px; /* Center text vertically */
}

.box1,.box2,.box3{
    margin:40px;
    text-align: center;
    background-color: white;
}

.para_1,.para_2,.para_3{
    color: black;
    font-size: 20px;
    
}
.btn_1,.btn_2,.btn_3{
    margin-top: 20px;
    padding:20px;
    width: 220px;
    border-radius: 30px;
    border:none;
    color: white;
    
}

.btn_1{
   
    background-color: rgb(255, 217, 0);
}

.btn_2{
    background-color: rgb(190, 19, 168);
}

.btn_3{
    background-color: rgb(117, 13, 208);
}

.head_1{
     background-color: rgb(255, 217, 0);
}

.head_2{
    background-color: rgb(190, 19, 168);
}

.head_3{
  background-color: rgb(117, 13, 208);
}