* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.main-box {
  height: 400px;
  width: 280px;
  border-radius: 3px;
  /* border: 1px solid black; */
  background-color: rgb(227, 78, 103);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.paratag{

  font-size: large;
}
.para {
  /* margin-top: 10px; */
  text-align: center;
  font-size: px;
}
.btn {
  color: pink;
  padding: 10px;
  width: 180px;
  border: none;
  border-radius: 20px;
}