* {
  padding: 0px;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  position: relative;
}

/* navigation menu  */
.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.Head-Container {
  height: 90px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  background-color: white;
}

.img {
  height: 35px;
  width: 189px;
}

.main-model {
  display: flex;
  gap: 30px;
}
.main {
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.main-model {
  font-weight: 600;
}
/* It is Link decoration */

a:link {
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}

/* icon */

.icon {
  display: flex;
  gap: 30px;
}

.Shop-link {
  background-color: rgb(95, 91, 91);
  padding: 22px;
  color: white;
  font-size: 16px;
  padding-left: 28px;
  padding-right: 28px;
}

.title {
  font-size: 48px;
  color: #0b1c39;
  margin-left: 50px;
}

.para {
  font-size: 18px;
}

.Main-container {
  background-color: #f0f0f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-weight: bolder;
}

/* It is grid heading*/

.Sub-head {
  padding-left: 370px;
  font-size: 24px;
}

/* It is Grid method */

.grid-main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.time-1 {
  grid-area: 1 / 1 / span 2;
  /* 1st Row la 1st column */
}
.time-2 {
  grid-area: 1 / 2 / span 2;
  /* 1st row la 2nd column */
}

/* carrd method -part 1 */
.main-card {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 370px;
  gap: 30px;
  font-size: 22px;
}

.card-text-1,
.card-text-2,
.card-text-3 {
  text-align: center;
  color: #444444;
  font-weight: bolder;
}

.card-price-1,
.card-price-2,
.card-price-3 {
  text-align: center;
  color: #ff2020;
}

/* card method 2 part  */

.subhead {
  margin-top: 230px;
  font-size: 50px;
}

.head-1 {
  margin-top: 10px;
  line-height: 25px;
  font-size: 18px;
  color: #444444;
}

.time-watch-1 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 350px;
  gap: 30px;
  font-size: 22px;
  margin-top: 90px;
}

.card-1,
.card-2,
.card-3 {
  text-align: center;
  color: #444444;
  font-weight: bolder;
}

.card-11,
.card-22,
.card-33 {
  text-align: center;
  color: #444444;
  font-size: 18px;
  margin-bottom: 120px;
}
.link-view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  font-size: 16px;
  background-color: red;
  margin-top: 14px;
  margin-left: 820px;
  margin-right: 820px;
}

.video {
  margin-top: 200px;
  width: 1902px;
  height: 700px;
}

.choice-watch {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.bold-watch {
  font-size: 57px;
}
.link-show {
  background-color: rgb(255, 0, 0);
  padding: 22px;
  font-size: 16px;
  height: 45px;
  width: 250px;
}

.paragraph {
  color: #777;
  line-height: 27px;
  font-size: 18px;
  margin-bottom: 25px;
}

.choice-2{
    margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-right: 43px;

}
/* It is red box concept */

.red-box{
  margin-top: 150px;
  display: flex;
  /* position: absolute; */
  background-color: rgb(255, 0, 0);
  padding: 22px;
  height: 230px;
  width: 1118px;
  margin-left: 351px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}
.red-1,.red-2,.red-3{
  display: flex;
  flex-direction: column;
}
.sub-line{

  line-height: 25px;
}
